@using System.Reflection
@using Extenso.AspNetCore.Mvc.ExtensoUI
@using Extenso.AspNetCore.Mvc.ExtensoUI.Providers
@using Extenso.AspNetCore.Mvc.Rendering

@{
    var extensoUI = Html.ExtensoUI(provider: new Bootstrap5UIProvider());
    Layout = "~/Views/Shared/_LayoutBootstrap5.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Accordion</h2>

        @using (var accordion = extensoUI.Begin(new Accordion()))
        {
            using (var panel = accordion.BeginPanel("Panel 1", "panel-1"))
            {
                <p>This is panel 1</p>
            }
            using (var panel = accordion.BeginPanel("Panel 2", "panel-2"))
            {
                <p>This is panel 2</p>
            }
            using (var panel = accordion.BeginPanel("Panel 3", "panel-3"))
            {
                <p>This is panel 3</p>
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Tabs</h2>

        @using (var tabs = extensoUI.Begin(new Tabs("tabs")))
        {
            tabs.Tab("Tab 1", "tab-1");
            tabs.Tab("Tab 2", "tab-2");
            tabs.Tab("Tab 3", "tab-3");

            using (var tab = tabs.BeginPanel())
            {
                <p>This is tab 1</p>
            }
            using (var tab = tabs.BeginPanel())
            {
                <p>This is tab 2</p>
            }
            using (var tab = tabs.BeginPanel())
            {
                <p>This is tab 3</p>
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Modal</h2>

        @extensoUI.ModalLaunchButton("myModal", "Launch Modal")

        @using (var modal = extensoUI.Begin(new Modal("myModal")))
        {
            using (var header = modal.BeginHeader("Modal Title")) { }
            using (var body = modal.BeginBody())
            {
                <p>One fine body&hellip;</p>

                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                </div>
            }
            using (var footer = modal.BeginFooter())
            {
                @footer.ModalCloseButton("myModal", "Close")
                @extensoUI.SubmitButton("Save", State.Primary)
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Panel</h2>

        @using (var panel = extensoUI.Begin(new Panel(state: State.Primary)))
        {
            using (var header = panel.BeginHeader("World Map")) { }

            using (var body = panel.BeginBody())
            {
                var assembly = typeof(Program).GetTypeInfo().Assembly;
                @Html.EmbeddedImage(Url, assembly, "Demo.AspNetCore.Mvc.ExtensoUI.Resources.WorldMap.jpg", "World Map", new { id = "map", usemap = "#WorldMap", @class = "mx-auto" })

                <map id="WorldMap" name="WorldMap">
                    <area shape="poly" coords="130,176,124,177,111,165,100,158,92,157,79,149,73,141,63,129,62,115,57,102,66,84,66,76,63,72,66,66,66,60,58,57,49,59,42,64,37,65,13,69,27,61,21,56,32,48,38,43,46,41,46,36,72,31,94,35,113,32,127,24,143,22,157,18,172,18,185,13,223,12,219,16,189,27,199,35,202,42,196,47,191,52,192,63,197,68,196,75,198,86,188,85,173,93,165,95,160,100,151,106,148,112,134,121,135,132,135,136,143,142,152,145,160,150,131,152,129,145,122,141,126,133,125,127,107,127,101,142,118,138,119,146,116,152,125,155" onclick="message('North America')" alt="North America" href="javascript:void(0);" />
                    <area shape="poly" coords="182,317,164,314,153,301,150,279,149,259,146,234,133,226,121,201,121,192,129,184,132,167,145,160,157,164,164,165,175,173,182,176,189,183,191,190,200,194,213,193,218,204,219,208,214,221,212,237,208,243,199,248,196,256,182,279,178,283,175,290,177,303,175,305" onclick="message('South America')" alt="South America" href="javascript:void(0);" />
                    <area shape="poly" coords="323,270,317,254,315,244,309,231,313,218,303,194,303,186,295,180,285,181,271,186,257,169,251,158,253,148,251,141,267,122,275,109,280,106,285,107,309,104,313,109,324,116,330,113,352,116,358,124,357,127,364,144,372,154,378,163,392,161,387,180,371,200,373,215,372,226,363,235,361,247,353,258,343,269,333,271" onclick="message('Africa')" alt="Africa" href="javascript:void(0);" />
                    <area shape="poly" coords="275,108,271,106,269,100,270,97,270,90,283,88,280,82,278,76,273,76,271,72,276,63,281,56,288,57,290,63,294,68,301,65,299,61,296,51,308,45,314,36,333,30,342,35,355,36,364,34,366,26,386,20,388,23,378,29,388,34,395,39,388,44,391,64,392,77,380,77,377,79,379,85,378,88,380,97,368,95,356,91,346,89,341,97,337,101,335,107,327,106,325,103,319,107,313,107,310,104,315,101,311,99,307,102,303,101,302,95,296,96,292,101,289,105,284,107" onclick="message('Europe')" alt="Europe" href="javascript:void(0);" />
                    <area shape="poly" coords="338,94,352,94,361,95,365,90,380,96,382,102,387,104,388,95,380,90,382,85,377,85,373,80,378,73,390,76,390,66,384,45,393,38,389,36,391,29,399,31,407,27,425,24,428,20,449,30,467,26,474,27,479,32,487,30,494,27,508,31,520,31,526,34,544,34,585,44,574,47,573,51,567,53,567,56,561,56,564,63,565,76,559,76,549,67,546,63,546,56,542,59,526,59,524,65,531,65,545,78,551,87,555,91,555,99,557,110,540,120,538,121,534,115,538,109,544,106,546,104,545,93,539,85,537,91,532,94,532,99,533,104,535,109,533,111,531,114,528,113,525,106,518,103,520,109,525,119,527,127,522,134,517,140,510,143,507,151,508,158,508,164,504,169,499,172,492,166,493,172,496,176,499,181,498,188,495,189,484,175,482,162,480,158,475,156,467,145,462,145,451,156,451,164,454,173,451,178,448,180,445,175,441,177,430,154,430,148,417,136,406,136,408,141,403,148,390,158,374,162,371,152,351,121,355,112,348,109,341,109,338,103" onclick="message('Asia and Middle East')" alt="Asia and Middle East" href="javascript:void(0);" />
                    <area shape="poly" coords="507,271,504,270,510,266,508,242,527,233,538,220,545,222,553,214,559,216,560,220,561,225,565,225,570,214,575,214,577,221,580,232,587,244,589,249,587,257,582,264,578,269,572,276,567,280,559,281,549,277,549,271,545,271,542,266,538,264" onclick="message('Australasia')" alt="Australasia" href="javascript:void(0);" />
                </map>
            }

            using (var footer = panel.BeginFooter())
            {
                <p>Demo for Panel in ExtensoUI and also for Embedded Image HTML Helper</p>
            }
        }
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.js"></script>

    <script type="text/javascript">
        // This will output any scripts required by the provider (See Kendo provider for example)
        @extensoUI.RenderScripts()

            $(document).ready(function () {
                $('#map').maphilight({ fade: false });
            });

        function message(continent) {
            alert(`You clicked ${continent}!`);
        }
    </script>
}